In [1]:
import numpy as np 
import pandas as pd 
import math 
import re

In [4]:
KF_template = pd.read_excel('./../Files/KF/ORGDC_BA_General_en_IDC 1.xlsx', sheet_name = 'Employee Data Requirements')
print(KF_template.shape)
KF_template.head(10)

(9, 44)

/Users/isha.slavin/Library/Python/3.13/lib/python/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Columns highlighted in this colour are essenti...,Columns highlighted in this colour are require...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Return to Instructions Tab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Korn Ferry Pay Analysis,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organization Information,NaN,NaN,Employee Information,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Country Specific Requirements,NaN,NaN,NaN,Additional Employee Information,NaN,NaN,NaN
5,Required,Required,Required,Required,Required,Required,Optional,Optional,Optional,Optional,...,If Applicable,If Applicable,"Specific Africa countries (DRC, Madagascar, Ma...",NaN,NaN,NaN,Optional,Optional,Optional,Optional
6,Please specify the country in which the employ...,Please provide all values as annual full-time ...,Please indicate the full name of the company/b...,Please provide a unique identifier for each em...,Please provide your organization's internal jo...,Please provide a department name for each empl...,A unique identifier for each employee's direct...,Please provide your organization's grade / ban...,Please provide the employee's most recent perf...,Please indicate the gender to which the employ...,...,Amount of money an employee is granted to comp...,Amount of money for all (other) allowances you...,"If your company runs on Total Cost to Company,...",Represents the annualized employer's contribut...,The annual amount of Private Health Insurance ...,Amount of money for all other benefits and all...,Please indicate if the incumbent is a Senior E...,Please record the average number of hours work...,The year the incumbent was born.,The year the incumbent was hired.
7,Drop-down list,Drop-down list,(eg. Entity ABC),(eg. CD325486),(eg. Hydro-analyst),(eg. Engineering),(eg. CD321547),(eg. G8),Drop-down list,Drop-down list,...,(eg. 3500),(eg. 7200),(eg. 4500000),(eg. 40000),(eg. 40000),(eg. 40000),Drop-down list,(eg. 40),(eg. 1972),(eg. 2003)
8,Country,Currency,Legal Entity / Business Unit,Employee ID,Employee \nJob Title,Department,Manager Employee ID,Employee \nGrade / Band,Performance Ranking,Gender,...,Telecommunication Allowance\n(Annual full-time...,All Other Allowances\n(Annual full-time equiva...,Total Package\n(Annual full-time equivalent),Total Pension/Provident Fund\n(Annual full-tim...,Medical Aid Contribution\n(Annual full-time eq...,Other Benefits and Allowances\n(Annual full-ti...,Executive/Non-Executive Indicator\n(E / N),Weekly Hours Worked,Year of Birth,Year of Hire

In [7]:
# Step 2: Extract the relevant rows
descriptions = KF_template.iloc[5]  # Row 8 (0-based index)
statuses = KF_template.iloc[6]      # Row 7 (0-based index)
titles = KF_template.iloc[8]        # Row 10 (0-based index)

print(descriptions.head(5))
print('\n')
print(statuses.head(5))
print('\n')
print(titles.head(5))

Unnamed: 0    Required
Unnamed: 1    Required
Unnamed: 2    Required
Unnamed: 3    Required
Unnamed: 4    Required
Name: 5, dtype: object


Unnamed: 0    Please specify the country in which the employ...
Unnamed: 1    Please provide all values as annual full-time ...
Unnamed: 2    Please indicate the full name of the company/b...
Unnamed: 3    Please provide a unique identifier for each em...
Unnamed: 4    Please provide your organization's internal jo...
Name: 6, dtype: object


Unnamed: 0                         Country
Unnamed: 1                       Currency
Unnamed: 2    Legal Entity / Business Unit
Unnamed: 3                     Employee ID
Unnamed: 4            Employee \nJob Title
Name: 8, dtype: object

In [8]:
# Step 3: Create the new DataFrame
new_KF_df = pd.DataFrame({
    'Column_Title': titles,
    'Description': descriptions,
    'Status': statuses
})

In [9]:
# remove '\n' from descriptions, statuses, and titles
new_KF_df['Description'] = new_KF_df['Description'].str.replace('\n', ' ', regex=False)
new_KF_df['Status'] = new_KF_df['Status'].str.replace('\n', ' ', regex=False)
new_KF_df['Column_Title'] = new_KF_df['Column_Title'].str.replace('\n', ' ', regex=False)

new_KF_df.head(10)

,Column_Title,Description,Status
Unnamed: 0,Country,Required,Please specify the country in which the employ...
Unnamed: 1,Currency,Required,Please provide all values as annual full-time ...
Unnamed: 2,Legal Entity / Business Unit,Required,Please indicate the full name of the company/b...
Unnamed: 3,Employee ID,Required,Please provide a unique identifier for each em...
Unnamed: 4,Employee Job Title,Required,Please provide your organization's internal jo...
Unnamed: 5,Department,Required,Please provide a department name for each empl...
Unnamed: 6,Manager Employee ID,Optional,A unique identifier for each employee's direct...
Unnamed: 7,Employee Grade / Band,Optional,Please provide your organization's grade / ban...
Unnamed: 8,Performance Ranking,Optional,Please provide the employee's most recent perf...
Unnamed: 9,Gender,Optional,Please indicate the gender to which the employ...

In [10]:
# reset index
new_KF_df = new_KF_df.reset_index(drop=True)

In [11]:
new_KF_df.head(10)

,Column_Title,Description,Status
0,Country,Required,Please specify the country in which the employ...
1,Currency,Required,Please provide all values as annual full-time ...
2,Legal Entity / Business Unit,Required,Please indicate the full name of the company/b...
3,Employee ID,Required,Please provide a unique identifier for each em...
4,Employee Job Title,Required,Please provide your organization's internal jo...
5,Department,Required,Please provide a department name for each empl...
6,Manager Employee ID,Optional,A unique identifier for each employee's direct...
7,Employee Grade / Band,Optional,Please provide your organization's grade / ban...
8,Performance Ranking,Optional,Please provide the employee's most recent perf...
9,Gender,Optional,Please indicate the gender to which the employ...

In [12]:
print(new_KF_df.shape)

(44, 3)

In [13]:
new_KF_df.tail()

,Column_Title,Description,Status
39,Other Benefits and Allowances (Annual full-tim...,NaN,Amount of money for all other benefits and all...
40,Executive/Non-Executive Indicator (E / N),Optional,Please indicate if the incumbent is a Senior E...
41,Weekly Hours Worked,Optional,Please record the average number of hours work...
42,Year of Birth,Optional,The year the incumbent was born.
43,Year of Hire,Optional,The year the incumbent was hired.

In [ ]:
# write to csv 
new_KF_df.to_csv('./../Files/KF/Vector_Store/fixed_KF_template.csv', index=False)